.servicios-banner {
  height: 25rem;
  background-image: url("/img/Imagenes/representacion-de-la-cadena-de-suministro-bodegon.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.productos-banner p {
  font-size: 1.2rem;
}

footer i {
  color: #4FC3F7;
}